In [171]:
import pandas as pd

In [172]:
def delete_columns_from_csv(file_path, columns_to_delete, output_file_path=None):
   
    df = pd.read_csv(file_path)
    
    
    df.drop(columns=columns_to_delete, inplace=True, errors='ignore')
    
    
    if output_file_path:
        df.to_csv(output_file_path, index=False)
    
    return df

In [173]:
### Profile 
file_path_Profile = "C:\\Users\\Nir\\Desktop\\Studies\ML\\anuliksFP\\ML-Final-Project-master\\company_profiles.csv"
columns_to_delete_Profile = ['description', 'mic_code','website','type','CEO','address','city','phone']
output_file_path_profile = 'C:\\Users\\Nir\\Desktop\\Studies\ML\\anuliksFP\\ML-Final-Project-master\\\FinalProjetProfile.csv'
### Income
file_path_Income = "C:\\Users\\Nir\\Desktop\\Studies\ML\\anuliksFP\\ML-Final-Project-master\\income_statements.csv"
columns_to_delete_Income = ['pretax_income', 'income_tax','ebit']
output_file_path_Income = 'C:\\Users\\Nir\\Desktop\\Studies\ML\\anuliksFP\\ML-Final-Project-master\\FinalProjetIncome.csv'

### cash flow 
file_path_Cash_Flow = "C:\\Users\\Nir\\Desktop\\Studies\ML\\anuliksFP\\ML-Final-Project-master\\cash_flow_data.csv"
columns_to_delete_Cash_Flow = [ 'operating_activities.net_income','operating_activities.depreciation','operating_activities.deferred_taxes','operating_activities.stock_based_compensation','operating_activities.other_non_cash_items','operating_activities.accounts_receivable','operating_activities.accounts_payable','operating_activities.other_assets_liabilities','investing_activities.capital_expenditures','investing_activities.net_intangibles','investing_activities.net_acquisitions','investing_activities.purchase_of_investments','investing_activities.sale_of_investments','investing_activities.other_investing_activity','financing_activities.long_term_debt_issuance','financing_activities.long_term_debt_payments','financing_activities.short_term_debt_issuance','financing_activities.common_stock_issuance','financing_activities.common_stock_repurchase','financing_activities.common_dividends','financing_activities.other_financing_charges','exchange_timezone','period']
output_file_path_Cash_Flow = 'C:\\Users\\Nir\\Desktop\\Studies\ML\\anuliksFP\\ML-Final-Project-master\\FinalProjet_CashFlow.csv'

### modified csv all 

modified_df_Profile = delete_columns_from_csv(file_path_Profile, columns_to_delete_Profile, output_file_path_profile)
modified_df_Income = delete_columns_from_csv(file_path_Income, columns_to_delete_Income, output_file_path_Income)
modified_df_CashFlow = delete_columns_from_csv(file_path_Cash_Flow, columns_to_delete_Cash_Flow, output_file_path_Cash_Flow)

balance_sheet_data - modify to be a table and not array with array as string in csv

In [174]:
from pandas import json_normalize
import ast

df = pd.read_csv('balance_sheet_data.csv')


def convert_if_string(x):
    try:
        return ast.literal_eval(x) if isinstance(x, str) else x
    except (ValueError, SyntaxError):
        return x

def recursive_flatten_columns(df, prefix=''):
    for column in df.columns:

        df[column] = df[column].apply(convert_if_string)
        
        if isinstance(df[column].iloc[0], dict):
            # Flatten dictionaries directly into the DataFrame
            temp_df = json_normalize(df[column])
            temp_df.columns = [f"{prefix}{column}.{subcol}" for subcol in temp_df.columns]
            df = df.drop(column, axis=1).join(temp_df)
        elif isinstance(df[column].iloc[0], list):

            pass  
    return df

df_flattened = recursive_flatten_columns(df)

In [175]:
columns_to_keep = [
    "fiscal_date", 
    "symbol", 
    "assets.total_assets", 
    "assets.current_assets.total_current_assets", 
    "assets.non_current_assets.total_non_current_assets", 
    "liabilities.total_liabilities", 
    "liabilities.current_liabilities.short_term_debt", 
    "liabilities.current_liabilities.total_current_liabilities", 
    "liabilities.non_current_liabilities.long_term_debt", 
    "liabilities.non_current_liabilities.total_non_current_liabilities", 
    "shareholders_equity.common_stock", 
    "shareholders_equity.retained_earnings", 
    "shareholders_equity.other_shareholders_equity", 
    "shareholders_equity.total_shareholders_equity", 
    "shareholders_equity.additional_paid_in_capital", 
    "shareholders_equity.treasury_stock", 
    "shareholders_equity.minority_interest"
]

df_filtered = df_flattened[columns_to_keep]

print(df_filtered.head())

  fiscal_date symbol  assets.total_assets  \
0  2023-06-30   MSFT         4.119760e+11
1  2022-06-30   MSFT         3.648400e+11
2  2021-06-30   MSFT         3.337790e+11
3  2020-06-30   MSFT         3.013110e+11
4  2019-06-30   MSFT         2.865560e+11

   assets.current_assets.total_current_assets  \
0                                1.842570e+11
1                                1.696840e+11
2                                1.844060e+11
3                                1.819150e+11
4                                1.755520e+11

   assets.non_current_assets.total_non_current_assets  \
0                                       2.277190e+11
1                                       1.951560e+11
2                                       1.493730e+11
3                                       1.193960e+11
4                                       1.110040e+11

   liabilities.total_liabilities  \
0                   2.057530e+11
1                   1.982980e+11
2                   1.917910e+11
3                   1.830070e+11
4                   1.669680e+11

   liabilities.current_liabilities.short_term_debt  \
0                                     5.247000e+09
1                                     2.749000e+09
2                                     8.072000e+09
3                                     3.749000e+09
4                                     5.516000e+09

   liabilities.current_liabilities.total_current_liabilities  \
0                                       1.041490e+11
1                                       9.508200e+10
2                                       8.865700e+10
3                                       7.231000e+10
4                                       5.692500e+10

   liabilities.non_current_liabilities.long_term_debt  \
0                                       5.471800e+10
1                                       5.852100e+10
2                                       5.970300e+10
3                                       6.724900e+10
4                                       7.285000e+10

   liabilities.non_current_liabilities.total_non_current_liabilities  \
0                                       1.016040e+11
1                                       1.032160e+11
2                                       1.031340e+11
3                                       1.106970e+11
4                                       1.100430e+11

   shareholders_equity.common_stock  shareholders_equity.retained_earnings  \
0                      9.371800e+10                           1.188480e+11
1                      8.693900e+10                           8.428100e+10
2                      8.311100e+10                           5.705500e+10
3                      8.055200e+10                           3.456600e+10
4                      7.852000e+10                           2.415000e+10

   shareholders_equity.other_shareholders_equity  \
0                                  -6.343000e+09
1                                  -4.678000e+09
2                                   1.822000e+09
3                                   3.186000e+09
4                                  -3.400000e+08

   shareholders_equity.total_shareholders_equity  \
0                                   2.062230e+11
1                                   1.665420e+11
2                                   1.419880e+11
3                                   1.183040e+11
4                                   1.023300e+11

   shareholders_equity.additional_paid_in_capital  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

   shareholders_equity.treasury_stock  shareholders_equity.minority_interest
0                                 NaN                                    NaN
1                                 NaN                                    NaN
2                                 NaN                                    NaN
3                                 NaN                                    NaN
4                                 NaN                                    NaN

In [176]:
rename_columns = {
    "fiscal_date": "fiscal_date",
    "symbol": "symbol",
    "assets.total_assets": "total_assets",
    "assets.current_assets.total_current_assets": "total_current_assets",
    "assets.non_current_assets.total_non_current_assets": "total_non_current_assets",
    "liabilities.total_liabilities": "total_liabilities",
    "liabilities.current_liabilities.short_term_debt": "short_term_debt",
    "liabilities.current_liabilities.total_current_liabilities": "total_current_liabilities",
    "liabilities.non_current_liabilities.long_term_debt": "long_term_debt",
    "liabilities.non_current_liabilities.total_non_current_liabilities": "total_non_current_liabilities"
}


df_filtered = df_filtered.rename(columns=rename_columns)


print(df_filtered.head())

  fiscal_date symbol  total_assets  total_current_assets  \
0  2023-06-30   MSFT  4.119760e+11          1.842570e+11
1  2022-06-30   MSFT  3.648400e+11          1.696840e+11
2  2021-06-30   MSFT  3.337790e+11          1.844060e+11
3  2020-06-30   MSFT  3.013110e+11          1.819150e+11
4  2019-06-30   MSFT  2.865560e+11          1.755520e+11

   total_non_current_assets  total_liabilities  short_term_debt  \
0              2.277190e+11       2.057530e+11     5.247000e+09
1              1.951560e+11       1.982980e+11     2.749000e+09
2              1.493730e+11       1.917910e+11     8.072000e+09
3              1.193960e+11       1.830070e+11     3.749000e+09
4              1.110040e+11       1.669680e+11     5.516000e+09

   total_current_liabilities  long_term_debt  total_non_current_liabilities  \
0               1.041490e+11    5.471800e+10                   1.016040e+11
1               9.508200e+10    5.852100e+10                   1.032160e+11
2               8.865700e+10    5.970300e+10                   1.031340e+11
3               7.231000e+10    6.724900e+10                   1.106970e+11
4               5.692500e+10    7.285000e+10                   1.100430e+11

   shareholders_equity.common_stock  shareholders_equity.retained_earnings  \
0                      9.371800e+10                           1.188480e+11
1                      8.693900e+10                           8.428100e+10
2                      8.311100e+10                           5.705500e+10
3                      8.055200e+10                           3.456600e+10
4                      7.852000e+10                           2.415000e+10

   shareholders_equity.other_shareholders_equity  \
0                                  -6.343000e+09
1                                  -4.678000e+09
2                                   1.822000e+09
3                                   3.186000e+09
4                                  -3.400000e+08

   shareholders_equity.total_shareholders_equity  \
0                                   2.062230e+11
1                                   1.665420e+11
2                                   1.419880e+11
3                                   1.183040e+11
4                                   1.023300e+11

   shareholders_equity.additional_paid_in_capital  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

   shareholders_equity.treasury_stock  shareholders_equity.minority_interest
0                                 NaN                                    NaN
1                                 NaN                                    NaN
2                                 NaN                                    NaN
3                                 NaN                                    NaN
4                                 NaN                                    NaN

In [177]:
df_filtered.to_csv('flat_balance_sheet_data.csv', index=False)

In [178]:
modified_df_CashFlow.head()

,fiscal_date,end_cash_position,income_tax_paid,interest_paid,free_cash_flow,operating_activities.operating_cash_flow,investing_activities.investing_cash_flow,financing_activities.financing_cash_flow,symbol,name,currency,exchange,mic_code
0,2020-06-30,13576000000,NaN,NaN,4.523400e+10,6.089400e+10,-1.222300e+10,-4.603100e+10,MSFT,Microsoft Corp,USD,NASDAQ,XNGS
1,2021-06-30,14224000000,NaN,NaN,5.611800e+10,7.798900e+10,-2.757700e+10,-4.848600e+10,MSFT,Microsoft Corp,USD,NASDAQ,XNGS
2,2022-06-30,13931000000,NaN,NaN,6.514900e+10,8.944400e+10,-3.031100e+10,-5.887600e+10,MSFT,Microsoft Corp,USD,NASDAQ,XNGS
3,2023-06-30,34704000000,NaN,NaN,5.947500e+10,8.738600e+10,-2.268000e+10,-4.393500e+10,MSFT,Microsoft Corp,USD,NASDAQ,XNGS
4,2020-09-30,39789000000,9.501000e+09,3.002000e+09,7.336500e+10,8.067400e+10,-4.289000e+09,-8.594000e+10,AAPL,Apple Inc,USD,NASDAQ,XNGS

In [179]:
modified_df_Income.head()

,fiscal_date,sales,cost_of_goods,gross_profit,operating_income,other_income_expense,net_income,eps_basic,eps_diluted,basic_shares_outstanding,...,ebitda,net_income_continuous_operations,minority_interests,preferred_stock_dividends,research_and_development,selling_general_and_administrative,other_operating_expenses,income,expense,symbol
0,30/06/2023,2.119150e+11,6.586300e+10,1.460520e+11,8.852300e+10,-2.380000e+08,7.236100e+10,9.72,9.68,7.446000e+09,...,1.051550e+11,7.236100e+10,NaN,NaN,2.719500e+10,3.033400e+10,NaN,2.994000e+09,1.968000e+09,MSFT
1,30/06/2022,1.982700e+11,6.265000e+10,1.356200e+11,8.338300e+10,3.020000e+08,7.273800e+10,9.70,9.65,7.496000e+09,...,9.990500e+10,7.273800e+10,NaN,NaN,2.451200e+10,2.772500e+10,NaN,2.094000e+09,2.063000e+09,MSFT
2,30/06/2021,1.680880e+11,5.223200e+10,1.158560e+11,6.991600e+10,1.401000e+09,6.127100e+10,8.12,8.05,7.547000e+09,...,8.383100e+10,6.127100e+10,NaN,NaN,2.071600e+10,2.522400e+10,NaN,2.131000e+09,2.346000e+09,MSFT
3,30/06/2020,1.430150e+11,4.607800e+10,9.693700e+10,5.295900e+10,-1.200000e+07,4.428100e+10,5.82,5.76,7.610000e+09,...,6.839500e+10,4.428100e+10,NaN,NaN,1.926900e+10,2.470900e+10,NaN,2.680000e+09,2.591000e+09,MSFT
4,30/09/2023,3.832850e+11,2.141370e+11,1.691480e+11,1.143010e+11,-3.820000e+08,9.699500e+10,6.16,6.13,1.574423e+10,...,1.291880e+11,9.699500e+10,NaN,NaN,2.991500e+10,2.493200e+10,NaN,3.750000e+09,3.933000e+09,AAPL

now we merge all data in symbol+year, we will create year colunm for each table first

In [181]:
import pandas as pd

def add_year_column(dataframe, date_column='Date', output_column='year', date_format='%d/%m/%Y'):
    """
    Adds a 'year' column to a DataFrame based on a specified 'Date' column.
    
    Parameters:
    - dataframe: pd.DataFrame, the DataFrame to modify.
    - date_column: str, the name of the column containing date information.
    - output_column: str, the name of the new column to be added, containing the extracted year.
    - date_format: str, the format of the dates in the date_column.
    
    Returns:
    - A DataFrame with the new 'year' column added.
    """
    # Ensure the date_column is in datetime format
    dataframe[date_column] = pd.to_datetime(dataframe[date_column], format=date_format)
    
    # Extract the year and create the new column
    dataframe[output_column] = dataframe[date_column].dt.year
    
    return dataframe

In [182]:
modified_df_Income = add_year_column(modified_df_Income, 'fiscal_date', 'year')
modified_df_CashFlow = add_year_column(modified_df_CashFlow,'fiscal_date', 'year','%Y-%m-%d')
modified_balance_sheet = add_year_column(df_filtered, 'fiscal_date', 'year', '%Y-%m-%d')

print(modified_df_Income[['fiscal_date', 'year']].head())
print(modified_df_CashFlow[['fiscal_date', 'year']].head())
print(modified_balance_sheet[['fiscal_date', 'year']].head())

  fiscal_date  year
0  2023-06-30  2023
1  2022-06-30  2022
2  2021-06-30  2021
3  2020-06-30  2020
4  2023-09-30  2023
  fiscal_date  year
0  2020-06-30  2020
1  2021-06-30  2021
2  2022-06-30  2022
3  2023-06-30  2023
4  2020-09-30  2020
  fiscal_date  year
0  2023-06-30  2023
1  2022-06-30  2022
2  2021-06-30  2021
3  2020-06-30  2020
4  2019-06-30  2019

Merge

In [183]:
print(len(modified_df_Income))
print(len(modified_df_CashFlow))
print(len(modified_balance_sheet))

5478
5439
8087

In [185]:
# Check for duplicates based on 'year' and 'symbol'
print(modified_df_Income.duplicated(subset=['year', 'symbol']).sum())
print(modified_df_CashFlow.duplicated(subset=['year', 'symbol']).sum())
print(modified_balance_sheet.duplicated(subset=['year', 'symbol']).sum())

12
6
99

drop duplicates

In [189]:

modified_df_Income = modified_df_Income.drop_duplicates(subset=['year', 'symbol'], keep=False)
modified_df_CashFlow = modified_df_CashFlow.drop_duplicates(subset=['year', 'symbol'], keep=False)
modified_balance_sheet = modified_balance_sheet.drop_duplicates(subset=['year', 'symbol'], keep=False)

print( len(modified_df_Income))
print(len(modified_df_CashFlow))
print( len(modified_balance_sheet))

5454
5427
7890

In [193]:
merged_df_2 = pd.merge(modified_df_Income, modified_df_CashFlow, on=['year', 'symbol'], how='inner')


final_merged_df = pd.merge(merged_df_2, modified_balance_sheet, on=['year', 'symbol'], how='inner')

print(len(final_merged_df))
print(final_merged_df.head())

5365
  fiscal_date_x         sales  cost_of_goods  gross_profit  operating_income  \
0    2023-06-30  2.119150e+11   6.586300e+10  1.460520e+11      8.852300e+10
1    2022-06-30  1.982700e+11   6.265000e+10  1.356200e+11      8.338300e+10
2    2021-06-30  1.680880e+11   5.223200e+10  1.158560e+11      6.991600e+10
3    2020-06-30  1.430150e+11   4.607800e+10  9.693700e+10      5.295900e+10
4    2023-09-30  3.832850e+11   2.141370e+11  1.691480e+11      1.143010e+11

   other_income_expense    net_income  eps_basic  eps_diluted  \
0         -2.380000e+08  7.236100e+10       9.72         9.68
1          3.020000e+08  7.273800e+10       9.70         9.65
2          1.401000e+09  6.127100e+10       8.12         8.05
3         -1.200000e+07  4.428100e+10       5.82         5.76
4         -3.820000e+08  9.699500e+10       6.16         6.13

   basic_shares_outstanding  ...  total_current_liabilities  long_term_debt  \
0              7.446000e+09  ...               1.041490e+11    5.471800e+10
1              7.496000e+09  ...               9.508200e+10    5.852100e+10
2              7.547000e+09  ...               8.865700e+10    5.970300e+10
3              7.610000e+09  ...               7.231000e+10    6.724900e+10
4              1.574423e+10  ...               1.453080e+11    9.528100e+10

   total_non_current_liabilities  shareholders_equity.common_stock  \
0                   1.016040e+11                      9.371800e+10
1                   1.032160e+11                      8.693900e+10
2                   1.031340e+11                      8.311100e+10
3                   1.106970e+11                      8.055200e+10
4                   1.451290e+11                      7.381200e+10

   shareholders_equity.retained_earnings  \
0                           1.188480e+11
1                           8.428100e+10
2                           5.705500e+10
3                           3.456600e+10
4                          -2.140000e+08

   shareholders_equity.other_shareholders_equity  \
0                                  -6.343000e+09
1                                  -4.678000e+09
2                                   1.822000e+09
3                                   3.186000e+09
4                                  -1.145200e+10

   shareholders_equity.total_shareholders_equity  \
0                                   2.062230e+11
1                                   1.665420e+11
2                                   1.419880e+11
3                                   1.183040e+11
4                                   6.214600e+10

   shareholders_equity.additional_paid_in_capital  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

   shareholders_equity.treasury_stock  shareholders_equity.minority_interest
0                                 NaN                                    NaN
1                                 NaN                                    NaN
2                                 NaN                                    NaN
3                                 NaN                                    NaN
4                                 NaN                                    NaN

[5 rows x 50 columns]

In [191]:
final_merged_df.to_csv('final_merged_df', index=False)

missing values

In [194]:
# we drop all data without net income. after earching the data for the rest, we safely fillna(0).
final_merged_df = final_merged_df.dropna(subset=[ 'net_income'])
final_merged_df = final_merged_df.fillna(0)


print(f"Number of rows after dropping NaNs in 'net_income': {final_merged_df.shape[0]}")

Original number of rows: 5363
Number of rows after dropping NaNs in 'gross_profit' and 'net_income': 5363

Next, we want only stocks with 3 years of data and more

In [195]:
ticker_counts = final_merged_df['symbol'].value_counts()

tickers_with_3_or_more_years = ticker_counts[ticker_counts >= 3]
print(f"Number of companies with data for 3 or more years: {len(tickers_with_3_or_more_years)}")

Number of companies with data for 3 or more years: 1439

In [196]:
tickers_to_keep = tickers_with_3_or_more_years.index.tolist()

In [197]:
final_merged_df = final_merged_df[final_merged_df['symbol'].isin(tickers_to_keep)]


print(f"Number of rows after filtering: {final_merged_df.shape[0]}")

Number of rows after filtering: 5088

In [198]:
distinct_tickers_count = final_merged_df['symbol'].nunique()
distinct_tickers_count

1439

In [205]:
final_merged_df = final_merged_df[[ 'year', 'symbol','fiscal_date', 'fiscal_date_x','fiscal_date_y', 'sales', 'cost_of_goods', 'gross_profit',
       'operating_income', 'other_income_expense', 'net_income', 'eps_basic',
       'eps_diluted', 'basic_shares_outstanding', 'diluted_shares_outstanding',
       'ebitda', 'net_income_continuous_operations', 'minority_interests',
       'preferred_stock_dividends', 'research_and_development',
       'selling_general_and_administrative', 'other_operating_expenses',
       'income', 'expense', 
       'end_cash_position', 'income_tax_paid', 'interest_paid',
       'free_cash_flow', 'operating_activities.operating_cash_flow',
       'investing_activities.investing_cash_flow',
       'financing_activities.financing_cash_flow',
       'total_assets',
       'total_current_assets', 'total_non_current_assets', 'total_liabilities',
       'short_term_debt', 'total_current_liabilities', 'long_term_debt',
       'total_non_current_liabilities', 'shareholders_equity.common_stock',
       'shareholders_equity.retained_earnings',
       'shareholders_equity.other_shareholders_equity',
       'shareholders_equity.total_shareholders_equity',
       'shareholders_equity.additional_paid_in_capital',
       'shareholders_equity.treasury_stock',
       'shareholders_equity.minority_interest']]

In [214]:
final_merged_df.head()

,year,symbol,fiscal_date,fiscal_date_x,fiscal_date_y,sales,cost_of_goods,gross_profit,operating_income,other_income_expense,...,total_current_liabilities,long_term_debt,total_non_current_liabilities,shareholders_equity.common_stock,shareholders_equity.retained_earnings,shareholders_equity.other_shareholders_equity,shareholders_equity.total_shareholders_equity,shareholders_equity.additional_paid_in_capital,shareholders_equity.treasury_stock,shareholders_equity.minority_interest
0,2023,MSFT,2023-06-30,2023-06-30,2023-06-30,2.119150e+11,6.586300e+10,1.460520e+11,8.852300e+10,-2.380000e+08,...,1.041490e+11,5.471800e+10,1.016040e+11,9.371800e+10,1.188480e+11,-6.343000e+09,2.062230e+11,0.0,0.0,0.0
1,2022,MSFT,2022-06-30,2022-06-30,2022-06-30,1.982700e+11,6.265000e+10,1.356200e+11,8.338300e+10,3.020000e+08,...,9.508200e+10,5.852100e+10,1.032160e+11,8.693900e+10,8.428100e+10,-4.678000e+09,1.665420e+11,0.0,0.0,0.0
2,2021,MSFT,2021-06-30,2021-06-30,2021-06-30,1.680880e+11,5.223200e+10,1.158560e+11,6.991600e+10,1.401000e+09,...,8.865700e+10,5.970300e+10,1.031340e+11,8.311100e+10,5.705500e+10,1.822000e+09,1.419880e+11,0.0,0.0,0.0
3,2020,MSFT,2020-06-30,2020-06-30,2020-06-30,1.430150e+11,4.607800e+10,9.693700e+10,5.295900e+10,-1.200000e+07,...,7.231000e+10,6.724900e+10,1.106970e+11,8.055200e+10,3.456600e+10,3.186000e+09,1.183040e+11,0.0,0.0,0.0
4,2023,AAPL,2023-09-30,2023-09-30,2023-09-30,3.832850e+11,2.141370e+11,1.691480e+11,1.143010e+11,-3.820000e+08,...,1.453080e+11,9.528100e+10,1.451290e+11,7.381200e+10,-2.140000e+08,-1.145200e+10,6.214600e+10,0.0,0.0,0.0

outliers

In [199]:
final_merged_df.columns

Index(['fiscal_date_x', 'sales', 'cost_of_goods', 'gross_profit',
       'operating_income', 'other_income_expense', 'net_income', 'eps_basic',
       'eps_diluted', 'basic_shares_outstanding', 'diluted_shares_outstanding',
       'ebitda', 'net_income_continuous_operations', 'minority_interests',
       'preferred_stock_dividends', 'research_and_development',
       'selling_general_and_administrative', 'other_operating_expenses',
       'income', 'expense', 'symbol', 'year', 'fiscal_date_y',
       'end_cash_position', 'income_tax_paid', 'interest_paid',
       'free_cash_flow', 'operating_activities.operating_cash_flow',
       'investing_activities.investing_cash_flow',
       'financing_activities.financing_cash_flow', 'name', 'currency',
       'exchange', 'mic_code', 'fiscal_date', 'total_assets',
       'total_current_assets', 'total_non_current_assets', 'total_liabilities',
       'short_term_debt', 'total_current_liabilities', 'long_term_debt',
       'total_non_current_liabilities', 'shareholders_equity.common_stock',
       'shareholders_equity.retained_earnings',
       'shareholders_equity.other_shareholders_equity',
       'shareholders_equity.total_shareholders_equity',
       'shareholders_equity.additional_paid_in_capital',
       'shareholders_equity.treasury_stock',
       'shareholders_equity.minority_interest'],
      dtype='object')

In [215]:
final_merged_df.describe()
## crazy outliers

,year,fiscal_date,fiscal_date_x,fiscal_date_y,sales,cost_of_goods,gross_profit,operating_income,other_income_expense,net_income,...,total_current_liabilities,long_term_debt,total_non_current_liabilities,shareholders_equity.common_stock,shareholders_equity.retained_earnings,shareholders_equity.other_shareholders_equity,shareholders_equity.total_shareholders_equity,shareholders_equity.additional_paid_in_capital,shareholders_equity.treasury_stock,shareholders_equity.minority_interest
count,5088.000000,5088,5088,5088,5.088000e+03,5.088000e+03,5.088000e+03,5.088000e+03,5.088000e+03,5.088000e+03,...,5.088000e+03,5.088000e+03,5.088000e+03,5.088000e+03,5.088000e+03,5.088000e+03,5.088000e+03,5.088000e+03,5.088000e+03,5.088000e+03
mean,2021.310535,2022-02-22 23:25:11.320754688,2022-02-22 23:25:11.320754688,2022-02-22 23:25:11.320754688,2.266195e+11,1.046134e+11,3.519480e+10,1.238843e+10,8.140338e+08,4.132558e+10,...,6.242187e+10,8.788516e+10,5.879617e+10,1.103443e+10,2.424720e+11,3.482210e+09,2.932617e+11,1.626326e+10,7.380737e+09,4.652805e+09
min,2018.000000,2018-08-31 00:00:00,2018-08-31 00:00:00,2018-08-31 00:00:00,-2.730500e+10,-5.000000e+05,-1.299500e+10,-3.228140e+11,-8.536427e+10,-4.261200e+11,...,0.000000e+00,0.000000e+00,-1.000000e+00,-3.015049e+09,-2.348453e+11,-1.166273e+12,-1.807500e+10,-3.076000e+09,0.000000e+00,-7.541000e+09
25%,2020.000000,2020-12-31 00:00:00,2020-12-31 00:00:00,2020-12-31 00:00:00,2.355350e+07,0.000000e+00,0.000000e+00,-2.987432e+06,-1.291914e+06,-1.107104e+07,...,2.366516e+06,2.790000e+06,3.146965e+05,1.090000e+05,-9.326420e+07,-5.493250e+06,5.676875e+07,1.542500e+06,0.000000e+00,0.000000e+00
50%,2021.000000,2021-12-31 00:00:00,2021-12-31 00:00:00,2021-12-31 00:00:00,8.113000e+08,1.313125e+08,1.219375e+08,2.091490e+06,0.000000e+00,2.699850e+07,...,1.060225e+08,3.211470e+08,1.393380e+08,8.119420e+06,2.911500e+06,0.000000e+00,6.674200e+08,2.343170e+08,0.000000e+00,0.000000e+00
75%,2022.000000,2022-12-31 00:00:00,2022-12-31 00:00:00,2022-12-31 00:00:00,8.627972e+09,2.876541e+09,1.759498e+09,5.214750e+08,2.876912e+05,6.668035e+08,...,1.873350e+09,4.450500e+09,3.319500e+09,2.387784e+08,2.189300e+09,0.000000e+00,6.664250e+09,1.876689e+09,2.748125e+07,2.572625e+07
max,2024.000000,2024-01-31 00:00:00,2024-01-31 00:00:00,2024-01-31 00:00:00,1.019150e+14,6.853600e+13,1.802300e+13,7.233510e+12,7.989050e+11,4.865810e+13,...,2.537780e+13,1.707463e+13,2.107925e+13,2.141513e+12,2.197232e+14,2.986478e+12,2.425376e+14,5.548977e+12,3.736562e+12,1.120038e+12
std,1.070666,NaN,NaN,NaN,3.193672e+12,1.638905e+12,3.994033e+11,1.546233e+11,1.955984e+10,1.071295e+12,...,8.580083e+11,8.025040e+11,7.046488e+11,9.915008e+10,5.432841e+12,8.480095e+10,6.125437e+12,1.737183e+11,9.871450e+10,4.477249e+10

 The IQR is the difference between the 75th percentile (Q3) and the 25th percentile (Q1) of the data. An outlier is typically defined as a data point that is situated outside the interquartile range, usually below Q1 - 1.5 * IQR or above Q3 + 1.5 * IQR.

In [207]:
columns = [ 'sales', 'cost_of_goods', 'gross_profit',
       'operating_income', 'other_income_expense', 'net_income', 'eps_basic',
       'eps_diluted', 'basic_shares_outstanding', 'diluted_shares_outstanding',
       'ebitda', 'net_income_continuous_operations', 'minority_interests',
       'preferred_stock_dividends', 'research_and_development',
       'selling_general_and_administrative', 'other_operating_expenses',
       'income', 'expense', 
       'end_cash_position', 'income_tax_paid', 'interest_paid',
       'free_cash_flow', 'operating_activities.operating_cash_flow',
       'investing_activities.investing_cash_flow',
       'financing_activities.financing_cash_flow',
       'total_assets',
       'total_current_assets', 'total_non_current_assets', 'total_liabilities',
       'short_term_debt', 'total_current_liabilities', 'long_term_debt',
       'total_non_current_liabilities', 'shareholders_equity.common_stock',
       'shareholders_equity.retained_earnings',
       'shareholders_equity.other_shareholders_equity',
       'shareholders_equity.total_shareholders_equity',
       'shareholders_equity.additional_paid_in_capital',
       'shareholders_equity.treasury_stock',
       'shareholders_equity.minority_interest']

# Placeholder for outlier counts
outlier_counts = {}

for column in columns:
    Q1 = final_merged_df[column].quantile(0.25)
    Q3 = final_merged_df[column].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 3 * IQR
    upper_bound = Q3 + 3* IQR
    
    outliers = final_merged_df[(final_merged_df[column] < lower_bound) | (final_merged_df[column] > upper_bound)]
    outlier_counts[column] = len(outliers)

# Print the number of outliers for each feature
print("Outlier counts by feature:")
for column, count in outlier_counts.items():
    print(f"{column}: {count}")

Outlier counts by feature:
sales: 777
cost_of_goods: 749
gross_profit: 790
operating_income: 880
other_income_expense: 1813
net_income: 975
eps_basic: 675
eps_diluted: 678
basic_shares_outstanding: 523
diluted_shares_outstanding: 523
ebitda: 842
net_income_continuous_operations: 968
minority_interests: 1664
preferred_stock_dividends: 507
research_and_development: 1065
selling_general_and_administrative: 744
other_operating_expenses: 1197
income: 883
expense: 700
end_cash_position: 840
income_tax_paid: 931
interest_paid: 855
free_cash_flow: 992
operating_activities.operating_cash_flow: 973
investing_activities.investing_cash_flow: 1010
financing_activities.financing_cash_flow: 1182
total_assets: 779
total_current_assets: 775
total_non_current_assets: 792
total_liabilities: 759
short_term_debt: 822
total_current_liabilities: 772
long_term_debt: 719
total_non_current_liabilities: 739
shareholders_equity.common_stock: 889
shareholders_equity.retained_earnings: 988
shareholders_equity.other_shareholders_equity: 1493
shareholders_equity.total_shareholders_equity: 779
shareholders_equity.additional_paid_in_capital: 669
shareholders_equity.treasury_stock: 1050
shareholders_equity.minority_interest: 1004

not good, too many outliers;

lets try Isolation Forest Metrhod

In [218]:
from sklearn.ensemble import IsolationForest
import pandas as pd
numerical_columns = [ 'sales', 'cost_of_goods', 'gross_profit',
       'operating_income', 'other_income_expense', 'net_income', 'eps_basic',
       'eps_diluted', 'basic_shares_outstanding', 'diluted_shares_outstanding',
       'ebitda', 'net_income_continuous_operations', 'minority_interests',
       'preferred_stock_dividends', 'research_and_development',
       'selling_general_and_administrative', 'other_operating_expenses',
       'income', 'expense', 
       'end_cash_position', 'income_tax_paid', 'interest_paid',
       'free_cash_flow', 'operating_activities.operating_cash_flow',
       'investing_activities.investing_cash_flow',
       'financing_activities.financing_cash_flow',
       'total_assets',
       'total_current_assets', 'total_non_current_assets', 'total_liabilities',
       'short_term_debt', 'total_current_liabilities', 'long_term_debt',
       'total_non_current_liabilities', 'shareholders_equity.common_stock',
       'shareholders_equity.retained_earnings',
       'shareholders_equity.other_shareholders_equity',
       'shareholders_equity.total_shareholders_equity',
       'shareholders_equity.additional_paid_in_capital',
       'shareholders_equity.treasury_stock',
       'shareholders_equity.minority_interest']

categorical_columns = [col for col in final_merged_df.columns if col not in numerical_columns]

# Separate the DataFrame into numerical and categorical subsets
df_numerical = final_merged_df[numerical_columns]
df_categorical = final_merged_df[categorical_columns]

# Apply Isolation Forest to the numerical subset
iso_forest = IsolationForest(n_estimators=100, contamination='auto', random_state=42)
iso_forest.fit(df_numerical)
outlier_predictions = iso_forest.predict(df_numerical)

# Assign outlier predictions to the numerical DataFrame
df_numerical.loc[:, 'outlier'] = outlier_predictions

# Merge the numerical DataFrame (with outlier info) back with the categorical DataFrame
df_final = pd.concat([df_numerical, df_categorical], axis=1)

# Optional: If you want to remove outliers, do so before the final merge
df_numerical_cleaned = df_numerical[df_numerical['outlier'] == 1]

# Merge the cleaned numerical DataFrame with the categorical DataFrame, if outliers were removed
df_final_cleaned = pd.concat([df_numerical_cleaned, df_categorical.loc[df_numerical_cleaned.index]], axis=1)

print(f"Number of outliers detected: {(outlier_predictions == -1).sum()}")
print(f"Number of inliers detected: {(outlier_predictions == 1).sum()}")

Number of outliers detected: 243
Number of inliers detected: 4845

C:\Users\Nir\AppData\Local\Temp\ipykernel_21592\2206079081.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_numerical.loc[:, 'outlier'] = outlier_predictions

the Isolation Forest algorithm identifies outliers in data by isolating observations. It uses a tree structure to split the data randomly, and observations that require fewer splits to isolate are considered outliers. This method is efficient, works well with high-dimensional data, and does not rely on any assumptions about the distribution of data - we are sold on this one.

In [219]:
print(len(df_final_cleaned))
df_final_cleaned.describe()

4845

,sales,cost_of_goods,gross_profit,operating_income,other_income_expense,net_income,eps_basic,eps_diluted,basic_shares_outstanding,diluted_shares_outstanding,...,shareholders_equity.other_shareholders_equity,shareholders_equity.total_shareholders_equity,shareholders_equity.additional_paid_in_capital,shareholders_equity.treasury_stock,shareholders_equity.minority_interest,outlier,year,fiscal_date,fiscal_date_x,fiscal_date_y
count,4.845000e+03,4.845000e+03,4.845000e+03,4.845000e+03,4.845000e+03,4.845000e+03,4845.000000,4845.000000,4.845000e+03,4.845000e+03,...,4.845000e+03,4.845000e+03,4.845000e+03,4.845000e+03,4.845000e+03,4845.0,4845.000000,4845,4845,4845
mean,1.763111e+10,9.924735e+09,5.130296e+09,1.767406e+09,7.181160e+07,1.807628e+09,-18.628386,-18.708741,4.993454e+08,4.971767e+08,...,1.129432e+08,1.674699e+10,3.437997e+09,2.139209e+09,5.288272e+08,1.0,2021.303406,2022-02-26 19:22:41.981424128,2022-02-26 19:22:41.981424128,2022-02-26 19:22:41.981424128
min,-2.730500e+10,-5.000000e+05,-1.299500e+10,-3.065300e+10,-2.948300e+10,-7.476200e+10,-63459.414290,-63459.414290,0.000000e+00,0.000000e+00,...,-4.775300e+10,-1.807500e+10,-3.076000e+09,0.000000e+00,-7.541000e+09,1.0,2018.000000,2018-08-31 00:00:00,2018-08-31 00:00:00,2018-08-31 00:00:00
25%,1.731532e+07,0.000000e+00,0.000000e+00,-3.704226e+06,-1.643568e+06,-1.297600e+07,-0.152733,-0.157680,1.891757e+07,1.828984e+07,...,-6.500000e+06,4.547600e+07,1.221375e+06,0.000000e+00,0.000000e+00,1.0,2020.000000,2020-12-31 00:00:00,2020-12-31 00:00:00,2020-12-31 00:00:00
50%,6.230150e+08,9.983600e+07,9.728200e+07,3.400000e+01,0.000000e+00,1.867994e+07,0.031000,0.030000,7.039945e+07,6.964200e+07,...,0.000000e+00,5.463560e+08,1.959400e+08,0.000000e+00,0.000000e+00,1.0,2021.000000,2021-12-31 00:00:00,2021-12-31 00:00:00,2021-12-31 00:00:00
75%,6.145600e+09,2.109900e+09,1.260000e+09,3.889630e+08,3.361780e+05,4.614000e+08,2.530000,2.500000,3.055240e+08,3.033270e+08,...,1.000000e+03,4.893000e+09,1.481032e+09,1.250100e+07,1.102600e+07,1.0,2022.000000,2022-12-31 00:00:00,2022-12-31 00:00:00,2022-12-31 00:00:00
max,1.014740e+12,6.611230e+11,3.536180e+11,1.104130e+11,2.118570e+11,2.279650e+11,726.000000,726.000000,5.804112e+10,5.804112e+10,...,3.660854e+11,8.508230e+11,1.526290e+11,2.549170e+11,8.471400e+10,1.0,2024.000000,2024-01-31 00:00:00,2024-01-31 00:00:00,2024-01-31 00:00:00
std,6.247555e+10,4.431319e+10,1.955649e+10,6.923107e+09,4.037658e+09,7.376860e+09,934.013735,934.008376,1.958438e+09,1.957792e+09,...,9.229072e+09,6.037923e+10,1.150423e+10,1.215382e+10,3.651597e+09,0.0,1.068272,NaN,NaN,NaN

In [220]:
df_final_cleaned.head()

,sales,cost_of_goods,gross_profit,operating_income,other_income_expense,net_income,eps_basic,eps_diluted,basic_shares_outstanding,diluted_shares_outstanding,...,shareholders_equity.total_shareholders_equity,shareholders_equity.additional_paid_in_capital,shareholders_equity.treasury_stock,shareholders_equity.minority_interest,outlier,year,symbol,fiscal_date,fiscal_date_x,fiscal_date_y
2,1.680880e+11,5.223200e+10,1.158560e+11,6.991600e+10,1.401000e+09,6.127100e+10,8.12,8.05,7.547000e+09,7.547000e+09,...,1.419880e+11,0.000000e+00,0.0,0.0,1,2021,MSFT,2021-06-30,2021-06-30,2021-06-30
3,1.430150e+11,4.607800e+10,9.693700e+10,5.295900e+10,-1.200000e+07,4.428100e+10,5.82,5.76,7.610000e+09,7.610000e+09,...,1.183040e+11,0.000000e+00,0.0,0.0,1,2020,MSFT,2020-06-30,2020-06-30,2020-06-30
8,6.092200e+10,1.662100e+10,4.430100e+10,3.297200e+10,2.370000e+08,2.976000e+10,12.05,11.93,2.469000e+09,2.469000e+09,...,4.297800e+10,1.313200e+10,0.0,0.0,1,2024,NVDA,2024-01-31,2024-01-31,2024-01-31
9,2.697400e+10,1.161800e+10,1.535600e+10,5.577000e+09,-1.401000e+09,4.368000e+09,1.76,1.74,2.487000e+09,2.487000e+09,...,2.210100e+10,1.197100e+10,0.0,0.0,1,2023,NVDA,2023-01-31,2023-01-31,2023-01-31
10,2.691400e+10,9.439000e+09,1.747500e+10,1.004100e+10,1.070000e+08,9.752000e+09,3.91,3.85,2.496000e+09,2.496000e+09,...,2.661200e+10,1.038500e+10,0.0,0.0,1,2022,NVDA,2022-01-31,2022-01-31,2022-01-31

In [221]:
df_final_cleaned.to_csv("ourDataClean.csv",index = False)

: